/* Importación de la fuente */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

/* Contenedor principal */
.whoarewe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh; /* Altura mínima que ocupará el 100% de la ventana */
  padding: 35px;
  margin: 0 auto;
  background-color: rgb(245, 115, 19); /* Aplicamos el color de fondo naranja */
}

/* Contenedor de la imagen y el texto */
.image-content-wrapper {
  display: flex;
  flex-direction: row; /* Imagen a la izquierda y contenido a la derecha en pantallas grandes */
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
}

.image-section {
  flex: 1;
  text-align: left;
}

.image-section img {
  width: 100%;
  max-width: 500px; /* Limitar el ancho máximo de la imagen */
  height: auto;
}

.content-section {
  flex: 1;
  text-align: center; /* Centramos el texto */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centramos verticalmente el título */
}

/* Centramos el título */
.section-title {
  font-family: 'Playpen Sans', sans-serif;
  font-size: 2.2rem;  /* Tamaño del título */
  font-weight: 800;   /* Peso de la fuente */
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center; /* Centramos el título */
}

/* Descripción centrada debajo del título */
.section-description {
  font-family: 'Playpen Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center; /* Centramos la descripción */
}

/* Características */
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

/* Estilo para cada característica */
.feature {
  flex: 1 1 250px;
  max-width: 300px;
  text-align: center;
  margin-bottom: 20px;
}

/* Íconos */
.feature i {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Estilo para los títulos de características */
.feature-text h2 {
  font-family: 'Playpen Sans', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  color: black;
}

/* Estilo para las descripciones de características */
.feature-text p {
  font-family: 'Playpen Sans', sans-serif;
  font-size: 1rem;
  margin-top: 5px;
  color: #555;
}
@media (max-width: 768px) {
  .image-content-wrapper {
    flex-direction: column; /* Cambiamos a columna en pantallas pequeñas */
    text-align: center;
  }

  .image-section {
    margin-bottom: 20px; /* Añadimos un margen debajo de la imagen */
    text-align: center; /* Alineamos la imagen al centro */
  }
}
@media (max-width: 576px) {
  .image-section img {
    max-width: 100%; /* Imagen toma más espacio en pantallas pequeñas */
  }
}